
    table,tr,td {
        border: 1px solid black;
        border-collapse:collapse;
    }
    td {
        width : 40px;
    }
    .MyTitle {
        font-weight: bold;
        font-size:40px;
        color:Black;
        text-shadow: 2px 2px grey;
        text-align: center;
        margin-top: 30px;
    }
    body {
        font-size : 20px;
        font-family: Arial, Helvetica, sans-serif;
        /*background-image: url("/dsc_0087.jpg");*/
    }
    nav {
        margin-left: 15%;
        margin-right: 15%;
    }
    nav ul {
        list-style-type:none;
    }
    nav li {
        display: inline;
    }
    nav a {
        text-decoration:none;
        padding: 8px;
        background-color: #dddddd;
    }
    
   footer {
       position: fixed;
       bottom: 0px;
       width: 99%;
       background: #d4d4d4;
       margin: 0px;
       text-align: center;
   }
